﻿@inherits ComponentBase<AfterStepViewModel>

<div class="list-group-item border-0 py-1">
    <CollapseComponent ViewModel="ViewModel" />
    <span @onclick="ViewModel.Click">
        <LabelComponent Label="@ViewModel.Label" />
        <CommandComponent Command="После" />
        <a class="active" href="#">@ViewModel.AfterLabel</a>
    </span>
</div>
