﻿<div class="list-group-item border-0 py-1">
    <CollapseComponent ViewModel="ViewModel" />
    <span @onclick="ViewModel.Click">
        <LabelComponent Label="@ViewModel.Label" />
        @if (ViewModel.Model is IStatementStep statementStep)
        {
            <CommandComponent Command="@statementStep.Command" />
        }
        <span>@ViewModel.Body</span>
    </span>
</div>

@code {
    [Parameter]
    public StepViewModelBase ViewModel { get; set; }
}
