﻿@inherits ComponentBase<DefaultStepEditViewModel>

<div class="input-group">
    @if (ViewModel.Model is IStatementStep statementStep)
    {
        <CommandComponent Command="@statementStep.Command" />
    }
    <input type="text" value="@ViewModel.Body" readonly class="form-control" />
</div>