﻿@page "/projects/{ProjectId:int}/desires/{DesireId:int}"
@inherits ComponentBase<DesireEditPageViewModel>

<h4>
    @ViewModel.Name
</h4>

<PlanComponent ViewModel="ViewModel.Plan" />

@code {
    [Parameter]
    public int ProjectId { get; set; }

    [Parameter]
    public int DesireId { get; set; }

    protected override void OnInitialized()
    {
        var project = ProjectViewModel.GetOrCreate(ProjectId);
        var desire = (DesireStep)project.GetStepModel(DesireId);
        ViewModel = new DesireEditPageViewModel(project, desire);
        base.OnInitialized();
    }
}
