﻿@page "/projects/{ProjectId:int}/desires/new"
@inherits ComponentBase<DesireNewPageViewModel>

<div class="input-group my-2">
    <input type="text" @bind="ViewModel.Name" class="form-control" />
    <div class="input-group-append">
        <button class="btn btn-primary" type="button" @onclick="ViewModel.Save">Сохранить</button>
    </div>
</div>

<PlanComponent ViewModel="ViewModel.Plan" />

@code {
    [Parameter]
    public int ProjectId { get; set; }

    protected override void OnInitialized()
    {
        var project = ProjectViewModel.GetOrCreate(ProjectId);
        ViewModel = new DesireNewPageViewModel(project);
        base.OnInitialized();
    }
}

