﻿@inherits ComponentBase<DesireViewModel>

<div class="col-3 m-2">
    <div class="card" style="cursor: pointer" @onclick="ViewModel.GoToPage">
        <img class="card-img-top" src="https://picsum.photos/id/@(ViewModel.GetNextId())/400/268" alt="Card image cap" />
        <div class="card-body">
            <h5 class="card-title">@ViewModel.Name</h5>
            @if (!ViewModel.Progress.IsUnknown)
            {
                <div class="text-muted">
                    @ViewModel.Progress.LeftEstimate.Min.Days - @ViewModel.Progress.LeftEstimate.Max.Days дней
                </div>
                if (ViewModel.Progress.Percent > 0)
                {
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@ViewModel.Progress.Percent" aria-valuemin="0" aria-valuemax="100">@ViewModel.Progress.Percent</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
