﻿@inherits ComponentBase<EstimateEditViewModel>

<input type="text" @bind="ViewModel.EstimateText" class="form-control" id="estimate" />

@if (ViewModel.IsParsed)
{
    if (ViewModel.IsParsedSuccessfully)
    {
        <div class="valid-feedback">
            Looks good!
        </div>
    }
    else
    {
        <div class="invalid-feedback">
            @ViewModel.ErrorMessage
        </div>
    }
}