﻿@inherits ComponentBase<FirstStepViewModel>

@if (ViewModel.IsInEditMode)
{
    <NewStepComponent ViewModel="ViewModel" />
}
else
{
   <div @onclick="ViewModel.Click" class="list-group-item border-0 py-1">
        Первый шаг
   </div>
}