﻿@inherits ComponentBase<GoalStepViewModel>

<div class="list-group-item border-0 py-1">
    <CollapseComponent ViewModel="ViewModel" />
    <span @onclick="ViewModel.Click">
        <LabelComponent Label="@ViewModel.Label" />
        <CommandComponent Command="Цель" />
        <span>@ViewModel.Body</span>
        <span class="badge badge-dark">@ViewModel.Size.ToString()</span>
    </span>
    <a class="active" href="#" @onclick="ViewModel.GoToPage">Перейти к цели</a>
</div>

