﻿@page "/projects/{ProjectId:int}/goals/{GoalId:int}"
@inherits ComponentBase<GoalStepEditViewModel>

<div class="input-group mb-2">
    <span class="input-group-text">Цель:</span>
    <input type="text" value="@ViewModel.Body" readonly class="form-control" />
    <div class="input-group-append">
        <span class="input-group-text">Размер</span>
        <GoalSizeEditComponent ViewModel="ViewModel.GoalSize" />
        <button class="btn btn-primary" type="button" @onclick="ViewModel.Save">Сохранить</button>
    </div>
</div>

<PlanComponent ViewModel="ViewModel.Plan" />

@code
{
    [Parameter]
    public int ProjectId { get; set; }

    [Parameter]
    public int GoalId { get; set; }

    protected override void OnInitialized()
    {
        var project = ProjectViewModel.GetOrCreate(ProjectId);
        var goal = (GoalStep)project.GetStepModel(GoalId);
        ViewModel = new GoalStepEditViewModel(project, goal);
        base.OnInitialized();
    }
}