﻿@inherits ComponentBase<GoToStepViewModel>

<div class="list-group-item border-0 py-1">
    <CollapseComponent ViewModel="ViewModel" />
    <span @onclick="ViewModel.Click">
        <LabelComponent Label="@ViewModel.Label" />
        <CommandComponent Command="Перейти к" />
        <a class="active" href="#">
            @ViewModel.DestinationLabel
        </a>
    </span>
</div>
