﻿
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text" id="">Введите шаг</span>
    </div>
    <input type="text" @bind="ViewModel.Text" @onkeyup="OnNewStepEditorKeyPress" class="form-control" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="ViewModel.Cancel">Отменить</button>
        <button class="btn btn-primary" type="button" @onclick="ViewModel.SubmitNewStepAsync">Сохранить</button>
    </div>
</div>
@if (ViewModel.ValidationErrors.Any())
{
    @foreach (var error in ViewModel.ValidationErrors)
    {
        <div class="alert alert-danger" role="alert">
            @error.Message
        </div>
    }
}

@code {
    [Parameter]
    public NewStepViewModel ViewModel { get; set; }

    public async Task OnNewStepEditorKeyPress(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await ViewModel.SubmitNewStepAsync();
        }
    }
}
