﻿@inherits ComponentBase<PlanItemViewModel>

@if (ViewModel.IsVisible)
{
    <div style="margin-left:@(ViewModel.IndentLevel*4)em;">
        @switch (ViewModel)
        {
            case FirstStepViewModel firstStep:
                <FirstStepComponent ViewModel="firstStep"></FirstStepComponent>
                break;
            case NewStepViewModel newStep:
                <NewStepComponent ViewModel="newStep"></NewStepComponent>
                break;
            case GoalStepViewModel goalStep:
                <GoalStepComponent ViewModel="goalStep"></GoalStepComponent>
                break;
            case AfterStepViewModel afterStep:
                <AfterStepComponent ViewModel="afterStep"></AfterStepComponent>
                break;
            case GoToStepViewModel gotoStep:
                <GoToStepComponent ViewModel="gotoStep"></GoToStepComponent>
                break;
            case TaskStepViewModel taskStep:
                <TaskStepComponent ViewModel="taskStep"></TaskStepComponent>
                break;
            case WhenStepViewModel whenStep:
                <WhenStepComponent ViewModel="whenStep"></WhenStepComponent>
                break;
            case StepEditViewModelBase stepEdit:
                <StepEditComponent ViewModel="stepEdit">
                    @switch (stepEdit)
                    {
                        case TaskStepEditViewModel taskStep:
                            <TaskStepEditComponent ViewModel="taskStep"></TaskStepEditComponent>
                            break;
                        case WhenStepEditViewModel whenStep:
                            <WhenStepEditComponent ViewModel="whenStep"></WhenStepEditComponent>
                            break;
                        case DefaultStepEditViewModel defaultStepEdit:
                            <DefaultStepEditComponent ViewModel="defaultStepEdit"></DefaultStepEditComponent>
                            break;
                    }
                </StepEditComponent>
                break;
            case DefaultStepViewModel step:
                <DefaultStepComponent ViewModel="step"></DefaultStepComponent>
                break;
        }
    </div>
}