﻿@inherits ComponentBase<ProjectViewModel>

<h1>@ViewModel.Name</h1>

<h3>Желания</h3>
<button class="btn btn-primary" @onclick="ViewModel.GoToDesireNewPage">Добавить</button>
<div class="alt-grid">
    <div class="container">
        <div class="row">
            @foreach (var desire in ViewModel.GetDesires())
            {
                <DesireComponent ViewModel="desire"/>
            }
        </div>
    </div>
</div>

<h3>Рутина</h3>
<PlanComponent ViewModel="ViewModel.GetRoutine()" />