﻿@inherits ComponentBase<StepEditViewModelBase>

@if (ViewModel.CanInsertNewStepBefore())
{
    <div class="mb-1">
        <button class="btn btn-success" @onclick="ViewModel.InsertNewStepBefore">+ до</button>
    </div>
}
@ChildContent
@if (ViewModel.CanInsertNewStepAfter())
{
    <div class="mt-1">
        <button class="btn btn-success" @onclick="ViewModel.InsertNewStepAfter">+ после</button>
        <div class="float-right">
            @if (ViewModel.CanDeleteStep())
            {
                <button class="btn btn-danger" type="button" @onclick="ViewModel.DeleteStep">Удалить</button>
            }
            <button class="btn btn-outline-primary" type="button" @onclick="ViewModel.CopyAndInsertStepAfter">Копировать</button>
        </div>
    </div>
}

@code 
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
