﻿@inherits ComponentBase<TaskStepEditViewModel>

<div class="input-group">
    <input type="text" value="@ViewModel.Body" readonly class="form-control" />
    <div class="input-group-append">
        <span class="input-group-text">Размер</span>
        <TaskSizeEditComponent ViewModel="ViewModel.TaskSize" />
        <span class="input-group-text">Оценка</span>
        <EstimateEditComponent ViewModel="ViewModel.Estimate" />
        <button class="btn btn-primary" type="button" @onclick="ViewModel.Save">Сохранить</button>
    </div>
</div>