﻿@inherits ComponentBase<TaskStepViewModel>
<div class="list-group-item border-0 py-1">
    <CollapseComponent ViewModel="ViewModel" />
    <LabelComponent Label="@ViewModel.Label" />
    <span @onclick="ViewModel.Click">
        <span class="badge badge-primary">@ViewModel.FirstVerb</span> <span>@ViewModel.Subject</span>
    </span>
    <span class="badge badge-dark">@ViewModel.Size.ToString()</span>
</div>

