﻿@inherits ComponentBase<TaskSizeEditViewModel>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @ViewModel.Model
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var size in ViewModel.Sizes)
        {
            <a class="dropdown-item" href="#" @onclick="() => ViewModel.SelectSize(size)">@size</a>
        }
    </div>
</div>