﻿@inherits ComponentBase<WhenStepViewModel>

<div class="list-group-item border-0 py-1">    
    <CollapseComponent ViewModel="ViewModel" />
    <span @onclick="ViewModel.Click">
        <LabelComponent Label="@ViewModel.Label" />
        <CommandComponent Command="Когда" />
        <span>
            @ViewModel.Body
        </span>
        @if (ViewModel.TimeLeft != null)
        {
            <span class="badge badge-info">Еще @ViewModel.TimeLeft.Value.Humanize()</span>
        }
    </span>
</div>
