﻿@inherits ComponentBase<WhenStepEditViewModel>

<div class="input-group">
    <CommandComponent Command="Когда" />
    <input type="text" value="@ViewModel.Body" readonly class="form-control" />
    <div class="input-group-prepend">
        <span class="input-group-text">Дата</span>
    </div>
    <input type="date" @bind="ViewModel.Date" />
</div>